*{
    margin:0 !important;
    padding:0 !important;
    box-sizing: border-box;
}

#Page_container{
    border:2px solid red;
    width:100%;
    height:100vh;


    #LandingPageUI{
        border:2px solid dodgerblue;
        
    }

}